.small-container {
    margin: 0 auto;
    max-width: 400px;
}
.checkoutform {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid teal;
    border-radius: 8px;
    padding: 30px;
}
.mt {
    margin-top: 30px;
}
.w100 {
    width: 100%;
}
.checkout-btn-box {
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: space-between;
}